node-red/.flows.json.backup
[{"id":"4770d184.b6e74","type":"tab","label":"Hue Light Control","disabled":false,"info":"Flow: Hue Light Control\n\nControl light scenes and dimming for Hue lights via DeCONZ integration and HomeAssistant "},{"id":"f3c04b18.ba1598","type":"group","z":"4770d184.b6e74","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f9032664.628088","293a0e8a.fd4352","e3044066.96fcf","4d4f2f0f.94ba5","96b28e72.5cb9c","90da8696.bdb9d8","6bc71adb.f25b34","1ad736cd.a8a3e9","8249f3da.ec469","52fd9f4a.e85dc","6c59e57a.6f695c","87298b73.94b288","22428193.42f17e","1e7e6b77.0be7e5","d558afd2.f35da","e9725c44.c0882","3932ee0a.f6d472","3f80c04d.02ccc","6c9ca84d.855108","3a3e3fe9.cdd4d","b317f2f6.6e6","21d55cd1.b79824","fb96497a.94fd78"],"x":154,"y":599,"w":1212,"h":747},{"id":"86d03a71.04cad8","type":"group","z":"4770d184.b6e74","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["df32a7d2.3107c8","f95e0bc.5ea28f8","e52edc6b.2eb7c","d1301077.45837","8c7b7771.3ec728","8c3f3fa3.5cad","48dccc91.e82bb4","91f76eaa.98088","fa9e3a47.714b58","de334ce.06c81b","64043f27.8e8fe","e9a56700.9b0a98","1bbd319.33dfcce","cf142a4e.46c088","f097b07c.7fc4e","242d8438.37d66c","a20fc6ed.c92218","eaf618d9.bd3c58","486aa401.de523c","5febc5c8.879cfc","2f8ba49.4cb605c","8347727f.32e9b","da54d74f.59cff8","9ef6abe6.706ee8","7ba32f2e.51826","544f0032.9dc63","4f2ab49a.5d248c"],"x":154,"y":1419,"w":1191.9999771118164,"h":947},{"id":"de3f2cc9.87889","type":"group","z":"4770d184.b6e74","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7ad00cd2.95be84","496d8bdb.bc85c4","2ddea03d.989f5","b2e1e7ac.f31a48","efcabce1.fb9ec","6ffb1066.30cff","8fa7be1f.9cfd7","5418c369.34216c","1797101.d5bc1f","e9b3367b.96d778","52534375.e08d5c","3896cf07.b539","2f1db08c.80f57","6696bce2.d4fa84","f0fdd372.fcf9b","71b5cbd0.4c28d4","d5d8b4a9.4c0098","ea96156.79eefe8","5843a507.0bf6dc","6041f4cb.35edbc","9202f6b1.09bbf8","d3f96e86.f6b83","9c01599c.269228"],"x":234,"y":2639,"w":1112,"h":542},{"id":"96a6cce3.d0aa7","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"85d3c25e.c6e2e","type":"server-events","z":"4770d184.b6e74","name":"HueEvent","server":"96a6cce3.d0aa7","event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":140,"y":260,"wires":[["b37016e3.f35878","2d6db6c.937f94a","d179f23e.f7da1"]]},{"id":"b37016e3.f35878","type":"switch","z":"4770d184.b6e74","name":"Hue Dimmer Switch","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"hue_dimmer_wohnzimmer","vt":"str"},{"t":"eq","v":"hue_dimmer_essbereich","vt":"str"},{"t":"eq","v":"hue_dimmer_schlafzimmer","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":440,"y":200,"wires":[["9d58a7e2.5c6ae8"],["e13c8a27.da69b8"],["3c9d9e72.6c4ce2"]],"outputLabels":["Wohnzimmer","Essbereich","Schlafzimmer"]},{"id":"2d6db6c.937f94a","type":"debug","z":"4770d184.b6e74","name":"HueEvent - Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":80,"wires":[]},{"id":"c33977d8.0026d8","type":"function","z":"4770d184.b6e74","name":"","func":"// var time = new Date().toLocaleTimeString('de-DE');\n// const night_start = \"18:20:00\";\n// const night_end = \"07:00:00\";\n\nconst night_start = 22*60 + 30;\nconst night_end = 7*60 + 30;\nvar date = new Date();\nvar current_time = date.getHours() * 60 + date.getMinutes();\n\nif (current_time >= night_start || current_time <= night_end) {\n    msg.payload = {text: \"Nacht\"}\n}\nelse {\n    msg.payload = {text: \"Tag\"}\n}\n\nmsg.payload.current_time = current_time\nmsg.payload.night_start = night_start\nmsg.payload.night_end = night_end\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":80,"wires":[[]]},{"id":"f9032664.628088","type":"switch","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"HDS Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":250,"y":1200,"wires":[[],[],["4d4f2f0f.94ba5"],["b317f2f6.6e6"],[],["87298b73.94b288"],["22428193.42f17e"],[],[],["1e7e6b77.0be7e5"],["d558afd2.f35da"],[],["1ad736cd.a8a3e9"],[],["293a0e8a.fd4352"],["3a3e3fe9.cdd4d"]],"outputLabels":["ON: INITIAL PRESSED","ON: HOLD","ON: SHORT RELEASED","ON: LONG RELEASED","DIM UP: INITIAL PRESSED","DIM UP: HOLD","DIM UP: SHORT RELEASED","DIM UP: LONG RELEASED","DIM DOWN: INITIAL PRESSED","DIM DOWN: HOLD","DIM DOWN: SHORT RELEASED","DIM DOWN: LONG RELEASED","OFF: INITIAL PRESSED","OFF: HOLD","OFF: SHORT RELEASED","OFF: LONG RELEASED"]},{"id":"293a0e8a.fd4352","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Light off","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.schlafzimmer","data":"{\"transition\": 1.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1200,"wires":[[]]},{"id":"e3044066.96fcf","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Activate scenes","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.payload,\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":760,"wires":[[]]},{"id":"4d4f2f0f.94ba5","type":"counter","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"idx.counter","init":"-1","step":"1","lower":"-1","upper":"5","mode":"increment","outputs":"1","x":570,"y":760,"wires":[["90da8696.bdb9d8"]]},{"id":"96b28e72.5cb9c","type":"change","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"idx.reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":820,"wires":[["4d4f2f0f.94ba5"]]},{"id":"90da8696.bdb9d8","type":"switch","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"idx.switch","property":"count","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"4","v2t":"num"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":760,"wires":[["3f80c04d.02ccc"],["96b28e72.5cb9c"]]},{"id":"6bc71adb.f25b34","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"scenes.day","func":"light_scenes = [\n    \"scene.licht_schlafzimmer_hell\", // initial scene\n    \"scene.licht_schlafzimmer_gedimmt\",\n    \"scene.licht_schlafzimmer_ambiente\",\n    \"scene.licht_schlafzimmer_dunkel\",\n    \"scene.licht_schlafzimmer_nacht\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":740,"wires":[["e3044066.96fcf"]]},{"id":"1ad736cd.a8a3e9","type":"api-current-state","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"idx.reset on light off","server":"96a6cce3.d0aa7","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.schlafzimmer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":562.5714263916016,"y":821.7142944335938,"wires":[[],["96b28e72.5cb9c"]]},{"id":"8249f3da.ec469","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dim up (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": +50,\n    \"transition\": 1.0\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":911.4285736083984,"y":1034.2857055664062,"wires":[["52fd9f4a.e85dc"]]},{"id":"52fd9f4a.e85dc","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Activate light setting","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1194.000015258789,"y":1072.9999074935913,"wires":[[]]},{"id":"6c59e57a.6f695c","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dim up (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": \"+15\",\n    \"transition\": 1.5\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":911.4286003112793,"y":994.2857465744019,"wires":[["52fd9f4a.e85dc"]]},{"id":"87298b73.94b288","type":"ha-get-entities","z":"4770d184.b6e74","g":"f3c04b18.ba1598","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.white_schlafzimmer_1, light.white_schlafzimmer_2, light.white_schlafzimmer_3, light.white_schlafzimmer_4","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"is_not","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":701.4285736083984,"y":994.2857055664062,"wires":[["6c59e57a.6f695c"]]},{"id":"22428193.42f17e","type":"ha-get-entities","z":"4770d184.b6e74","g":"f3c04b18.ba1598","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.white_schlafzimmer_1, light.white_schlafzimmer_2, light.white_schlafzimmer_3, light.white_schlafzimmer_4","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"is_not","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":701.4285736083984,"y":1034.2857055664062,"wires":[["8249f3da.ec469"]]},{"id":"1e7e6b77.0be7e5","type":"ha-get-entities","z":"4770d184.b6e74","g":"f3c04b18.ba1598","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.white_schlafzimmer_1, light.white_schlafzimmer_2, light.white_schlafzimmer_3, light.white_schlafzimmer_4","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":700,"y":1100,"wires":[["e9725c44.c0882"]]},{"id":"d558afd2.f35da","type":"ha-get-entities","z":"4770d184.b6e74","g":"f3c04b18.ba1598","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.white_schlafzimmer_1, light.white_schlafzimmer_2, light.white_schlafzimmer_3, light.white_schlafzimmer_4","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":700,"y":1140,"wires":[["3932ee0a.f6d472"]]},{"id":"e9725c44.c0882","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dim down (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 18) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.5\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -15,\n        \"transition\": 1.5\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":921.0001335144043,"y":1100.0000133514404,"wires":[["52fd9f4a.e85dc"]]},{"id":"3932ee0a.f6d472","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dim down (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 53) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.0\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -50,\n        \"transition\": 1.0\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":911.0001335144043,"y":1140.0000133514404,"wires":[["52fd9f4a.e85dc"]]},{"id":"3f80c04d.02ccc","type":"time-range-switch","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Day/Night","lat":"53.663610","lon":"10.028440","startTime":"7:30","endTime":"22:30","startOffset":0,"endOffset":0,"x":900,"y":760,"wires":[["6bc71adb.f25b34"],["6c9ca84d.855108"]]},{"id":"6c9ca84d.855108","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"scenes.night","func":"light_scenes = [\n    \"scene.licht_schlafzimmer_nacht\", // initial scene\n    \"scene.licht_schlafzimmer_dunkel\",\n    \"scene.licht_schlafzimmer_ambiente\",\n    \"scene.licht_schlafzimmer_gedimmt\",\n    \"scene.licht_schlafzimmer_hell\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":780,"wires":[["e3044066.96fcf"]]},{"id":"65e835e5.5192bc","type":"link in","z":"4770d184.b6e74","name":"Schlafzimmer_HDS","links":["3c9d9e72.6c4ce2"],"x":115,"y":1200,"wires":[["f9032664.628088"]]},{"id":"3a3e3fe9.cdd4d","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Shutter: fully close","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.shelly_shsw_25_40f52000d69a","data":"{\"position\":0}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":1260,"wires":[[]]},{"id":"b317f2f6.6e6","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Shutter: fully open","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.shelly_shsw_25_40f52000d69a","data":"{\"position\":100}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":940,"wires":[[]]},{"id":"3c9d9e72.6c4ce2","type":"link out","z":"4770d184.b6e74","name":"Schlafzimmer_HDS","links":["65e835e5.5192bc"],"x":685,"y":280,"wires":[]},{"id":"df32a7d2.3107c8","type":"api-call-service","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Light off (fast)","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wohnzimmer","data":"{\"transition\": 1.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":2020,"wires":[[]]},{"id":"f95e0bc.5ea28f8","type":"api-call-service","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Activate scenes","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.payload,\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":2120,"wires":[[]]},{"id":"e52edc6b.2eb7c","type":"counter","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"idx.counter","init":"-1","step":"1","lower":"-1","upper":"7","mode":"increment","outputs":"1","x":597.4284782409668,"y":2099.285675048828,"wires":[["8c7b7771.3ec728"]]},{"id":"d1301077.45837","type":"change","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"idx.reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":765.9999046325684,"y":2144.999969482422,"wires":[["e52edc6b.2eb7c"]]},{"id":"8c7b7771.3ec728","type":"switch","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"idx.switch","property":"count","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"6","v2t":"num"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":767.4284782409668,"y":2099.285675048828,"wires":[["8c3f3fa3.5cad"],["d1301077.45837"]]},{"id":"8c3f3fa3.5cad","type":"function","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"scenes.array","func":"\nlight_scenes = [\n    \"scene.licht_wohnzimmer_warm\", // initial scene\n    \"scene.licht_wohnzimmer_entspannt\",\n    \"scene.licht_wohnzimmer_neutral\",\n    \"scene.licht_wohnzimmer_kalt\",\n    \"scene.licht_wohnzimmer_ambiente_kalt\",\n    \"scene.licht_wohnzimmer_ambiente_neutral\",\n    \"scene.licht_wohnzimmer_ambiente_warm\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":957.4284782409668,"y":2119.285675048828,"wires":[["f95e0bc.5ea28f8"]]},{"id":"48dccc91.e82bb4","type":"trigger","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"idx.timer","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":585.9999046325684,"y":2144.999969482422,"wires":[["d1301077.45837"]]},{"id":"91f76eaa.98088","type":"api-call-service","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Light off (slow)","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wohnzimmer","data":"{\"transition\": 10.0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":2320,"wires":[[]]},{"id":"fa9e3a47.714b58","type":"api-current-state","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"idx.reset on light off","server":"96a6cce3.d0aa7","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.wohnzimmer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":615.9999046325684,"y":2184.999969482422,"wires":[[],["d1301077.45837"]]},{"id":"de334ce.06c81b","type":"api-call-service","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Scene: Gedimmt","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_gedimmt","data":"{\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":2260,"wires":[[]]},{"id":"64043f27.8e8fe","type":"function","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Dim up (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": +50,\n    \"transition\": 1.0\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1860,"wires":[["e9a56700.9b0a98"]]},{"id":"e9a56700.9b0a98","type":"api-call-service","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Activate light setting","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1219.9999771118164,"y":1899.999942779541,"wires":[[]]},{"id":"1bbd319.33dfcce","type":"function","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Dim up (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": \"+15\",\n    \"transition\": 1.5\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":939.9999771118164,"y":1819.999942779541,"wires":[["e9a56700.9b0a98"]]},{"id":"cf142a4e.46c088","type":"ha-get-entities","z":"4770d184.b6e74","g":"86d03a71.04cad8","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.white_wohnzimmer_decke, light.hue_go","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"is_not","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":719.9999771118164,"y":1819.999942779541,"wires":[["1bbd319.33dfcce"]]},{"id":"f097b07c.7fc4e","type":"ha-get-entities","z":"4770d184.b6e74","g":"86d03a71.04cad8","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.white_wohnzimmer_decke, light.hue_go","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"is_not","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":719.9999771118164,"y":1859.999942779541,"wires":[["64043f27.8e8fe"]]},{"id":"242d8438.37d66c","type":"ha-get-entities","z":"4770d184.b6e74","g":"86d03a71.04cad8","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.white_wohnzimmer_decke, light.hue_go","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":718.571403503418,"y":1925.7142372131348,"wires":[["eaf618d9.bd3c58"]]},{"id":"a20fc6ed.c92218","type":"ha-get-entities","z":"4770d184.b6e74","g":"86d03a71.04cad8","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.white_wohnzimmer_decke, light.hue_go","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":718.571403503418,"y":1965.7142372131348,"wires":[["486aa401.de523c"]]},{"id":"eaf618d9.bd3c58","type":"function","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Dim down (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 18) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.5\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -15,\n        \"transition\": 1.5\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":948.571403503418,"y":1925.7142372131348,"wires":[["e9a56700.9b0a98"]]},{"id":"486aa401.de523c","type":"function","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Dim down (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 53) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.0\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -50,\n        \"transition\": 1.0\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":938.571403503418,"y":1965.7142372131348,"wires":[["e9a56700.9b0a98"]]},{"id":"7afada92.2a5d04","type":"link in","z":"4770d184.b6e74","name":"Wohnzimmer_HDS","links":["9d58a7e2.5c6ae8"],"x":115,"y":2220,"wires":[["da54d74f.59cff8"]]},{"id":"9d58a7e2.5c6ae8","type":"link out","z":"4770d184.b6e74","name":"Wohnzimmer_HDS","links":["7afada92.2a5d04"],"x":685,"y":120,"wires":[]},{"id":"e13c8a27.da69b8","type":"link out","z":"4770d184.b6e74","name":"Essbereich_HDS","links":["9ebbee36.cc2bd"],"x":685,"y":200,"wires":[]},{"id":"7ad00cd2.95be84","type":"switch","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":310,"y":2960,"wires":[[],[],["b2e1e7ac.f31a48","5418c369.34216c"],["e9b3367b.96d778"],[],["6696bce2.d4fa84"],["f0fdd372.fcf9b"],[],[],["71b5cbd0.4c28d4"],["d5d8b4a9.4c0098"],[],["1797101.d5bc1f"],[],["496d8bdb.bc85c4"],["9202f6b1.09bbf8"]],"info":"**Hue Dimmer Switch: Command palette**\r\n\r\n1000=Button(ON) INITIAL_PRESSED\r\n1001=Button(ON) HOLD\r\n1002=Button(ON) SHORT RELEASED\r\n1003=Button(ON) LONG RELEASED\r\n\r\n2000=Button(DIM UP) INITIAL_PRESSED\r\n2001=Button(DIM UP) HOLD\r\n2002=Button(DIM UP) SHORT RELEASED\r\n2003=Button(DIM UP) LONG RELEASED\r\n\r\n3000=Button(DIM DOWN) INITIAL_PRESSED\r\n3001=Button(DIM DOWN) HOLD\r\n3002=Button(DIM DOWN) SHORT RELEASED\r\n3003=Button(DIM DOWN) LONG RELEASED\r\n\r\n4000=Button(OFF) INITIAL_PRESSED\r\n4001=Button(OFF) HOLD\r\n4002=Button(OFF) SHORT RELEASED\r\n4003=Button(OFF) LONG RELEASED"},{"id":"496d8bdb.bc85c4","type":"api-call-service","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Light off (Küche)","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kuche","data":"{\"transition\": 1.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":3100,"wires":[[]]},{"id":"2ddea03d.989f5","type":"api-call-service","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Activate scenes","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.payload,\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":2700,"wires":[[]]},{"id":"b2e1e7ac.f31a48","type":"counter","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"idx.counter","init":"-1","step":"1","lower":"-1","upper":"7","mode":"increment","outputs":"1","x":530,"y":2680,"wires":[["6ffb1066.30cff"]]},{"id":"efcabce1.fb9ec","type":"change","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"idx.reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":698.5714263916016,"y":2725.7142944335938,"wires":[["b2e1e7ac.f31a48"]]},{"id":"6ffb1066.30cff","type":"switch","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"idx.switch","property":"count","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"6","v2t":"num"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":2680,"wires":[["d3f96e86.f6b83"],["efcabce1.fb9ec"]]},{"id":"8fa7be1f.9cfd7","type":"function","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"scenes.array","func":"\nlight_scenes = [\n    \"scene.licht_wohnzimmer_warm\", // initial scene\n    \"scene.licht_wohnzimmer_entspannt\",\n    \"scene.licht_wohnzimmer_neutral\",\n    \"scene.licht_wohnzimmer_kalt\",\n    \"scene.licht_wohnzimmer_ambiente_kalt\",\n    \"scene.licht_wohnzimmer_ambiente_neutral\",\n    \"scene.licht_wohnzimmer_ambiente_warm\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":2720,"wires":[["2ddea03d.989f5"]]},{"id":"5418c369.34216c","type":"trigger","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"idx.timer","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":518.5714263916016,"y":2725.7142944335938,"wires":[["efcabce1.fb9ec"]]},{"id":"1797101.d5bc1f","type":"api-current-state","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"idx.reset on light off","server":"96a6cce3.d0aa7","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.essbereich","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":548.5714263916016,"y":2765.7142944335938,"wires":[[],["efcabce1.fb9ec"]]},{"id":"e9b3367b.96d778","type":"api-call-service","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Activate Gedimmt","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_gedimmt","data":"{\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":2820,"wires":[[]]},{"id":"52534375.e08d5c","type":"function","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Dim up (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": +50,\n    \"transition\": 1.0\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":881.428596496582,"y":2934.2857627868652,"wires":[["3896cf07.b539"]]},{"id":"3896cf07.b539","type":"api-call-service","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Activate light setting","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1161.4285736083984,"y":2974.2857055664062,"wires":[[]]},{"id":"2f1db08c.80f57","type":"function","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Dim up (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": \"+15\",\n    \"transition\": 1.5\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":881.4285736083984,"y":2894.2857055664062,"wires":[["3896cf07.b539"]]},{"id":"6696bce2.d4fa84","type":"ha-get-entities","z":"4770d184.b6e74","g":"de3f2cc9.87889","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.ambiance_esstisch_1, light.ambiance_esstisch_2, light.ambiance_esszimmer_wand, light.ambiance_esszimmer_tur, light.ambiance_esszimmer_separee, light.ambiance_esszimmer_treppe, light.white_tresen, light.ambiance_kuche_kuhlschrank, light.ambiance_kuche_backofen, light.ambiance_kuche_spule","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"is_not","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":661.4285736083984,"y":2894.2857055664062,"wires":[["2f1db08c.80f57"]]},{"id":"f0fdd372.fcf9b","type":"ha-get-entities","z":"4770d184.b6e74","g":"de3f2cc9.87889","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.ambiance_esstisch_1, light.ambiance_esstisch_2, light.ambiance_esszimmer_wand, light.ambiance_esszimmer_tur, light.ambiance_esszimmer_separee, light.ambiance_esszimmer_treppe, light.white_tresen, light.ambiance_kuche_kuhlschrank, light.ambiance_kuche_backofen, light.ambiance_kuche_spule","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"is_not","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":661.4285736083984,"y":2934.2857055664062,"wires":[["52534375.e08d5c"]]},{"id":"71b5cbd0.4c28d4","type":"ha-get-entities","z":"4770d184.b6e74","g":"de3f2cc9.87889","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.ambiance_esstisch_1, light.ambiance_esstisch_2, light.ambiance_esszimmer_wand, light.ambiance_esszimmer_tur, light.ambiance_esszimmer_separee, light.ambiance_esszimmer_treppe, light.white_tresen, light.ambiance_kuche_kuhlschrank, light.ambiance_kuche_backofen, light.ambiance_kuche_spule","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":660,"y":3000,"wires":[["ea96156.79eefe8"]]},{"id":"d5d8b4a9.4c0098","type":"ha-get-entities","z":"4770d184.b6e74","g":"de3f2cc9.87889","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.ambiance_esstisch_1, light.ambiance_esstisch_2, light.ambiance_esszimmer_wand, light.ambiance_esszimmer_tur, light.ambiance_esszimmer_separee, light.ambiance_esszimmer_treppe, light.white_tresen, light.ambiance_kuche_kuhlschrank, light.ambiance_kuche_backofen, light.ambiance_kuche_spule","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":660,"y":3040,"wires":[["5843a507.0bf6dc"]]},{"id":"ea96156.79eefe8","type":"function","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Dim down (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 18) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.5\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -15,\n        \"transition\": 1.5\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":3000,"wires":[["3896cf07.b539"]]},{"id":"5843a507.0bf6dc","type":"function","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Dim down (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 53) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.0\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -50,\n        \"transition\": 1.0\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":3040,"wires":[["3896cf07.b539"]]},{"id":"9ebbee36.cc2bd","type":"link in","z":"4770d184.b6e74","name":"Essbereich","links":["e13c8a27.da69b8"],"x":175,"y":2960,"wires":[["7ad00cd2.95be84"]]},{"id":"d179f23e.f7da1","type":"switch","z":"4770d184.b6e74","name":"Friends Of Hue Switch","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"foh_switch_eingang","vt":"str"},{"t":"eq","v":"foh_switch_esszimmer","vt":"str"},{"t":"eq","v":"foh_switch_kueche","vt":"str"},{"t":"eq","v":"foh_switch_wohnzimmer","vt":"str"},{"t":"eq","v":"foh_switch_schlafzimmer","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":450,"y":400,"wires":[[],[],[],["866c4129.c610f"],["8d9298a4.0ddaf8"]],"outputLabels":["","","","","Schlafzimmer"]},{"id":"6041f4cb.35edbc","type":"comment","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Light sources","info":"// Küche - Deckenlicht\nlight.ambiance_kuche_kuhlschrank\nlight.ambiance_kuche_backofen\nlight.ambiance_kuche_spule\n\n// Küche - Tresen\nlight.white_tresen\n\n// Esszimmer - Deckenlicht\nlight.ambiance_esszimmer_separee\nlight.ambiance_esszimmer_treppe\nlight.ambiance_esszimmer_tur\nlight.ambiance_esszimmer_wand\n\n// Esszimmer - Esstisch\nlight.ambiance_esstisch_1\nlight.ambiance_esstisch_2\n","x":330,"y":2680,"wires":[]},{"id":"5febc5c8.879cfc","type":"comment","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Light sources: Wohnzimmer","info":"// Stehlampe\nlight.color_wohnzimmer_b\nlight.color_wohnzimmer_w\n\n// Hue Go\nlight.hue_go\n\n// Deckenlicht\nlight.white_wohnzimmer_decked\n","x":300,"y":1460,"wires":[]},{"id":"21d55cd1.b79824","type":"comment","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Light sources: Schlafzimmer","info":"// Schlafzimmer - Deckenlicht\nlight.white_schlafzimmer_1\nlight.white_schlafzimmer_2\nlight.white_schlafzimmer_3\nlight.white_schlafzimmer_4\n","x":300,"y":640,"wires":[]},{"id":"9202f6b1.09bbf8","type":"api-call-service","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Light off (Essbereich)","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.esszimmer","data":"{\"transition\": 1.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":3140,"wires":[[]]},{"id":"d3f96e86.f6b83","type":"time-range-switch","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"Day/Night","lat":"53.663610","lon":"10.028440","startTime":"7:30","endTime":"22:30","startOffset":0,"endOffset":0,"x":880,"y":2700,"wires":[["9c01599c.269228"],["8fa7be1f.9cfd7"]]},{"id":"9c01599c.269228","type":"function","z":"4770d184.b6e74","g":"de3f2cc9.87889","name":"scenes.day","func":"light_scenes = [\n    \"scene.licht_schlafzimmer_hell\", // initial scene\n    \"scene.licht_schlafzimmer_gedimmt\",\n    \"scene.licht_schlafzimmer_ambiente\",\n    \"scene.licht_schlafzimmer_dunkel\",\n    \"scene.licht_schlafzimmer_nacht\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":2680,"wires":[["2ddea03d.989f5"]]},{"id":"8d9298a4.0ddaf8","type":"link out","z":"4770d184.b6e74","name":"Schlafzimmer_FHS","links":["49d2ddfe.242504"],"x":685,"y":440,"wires":[]},{"id":"fb96497a.94fd78","type":"switch","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"FHS Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"},{"t":"eq","v":"5000","vt":"str"},{"t":"eq","v":"5001","vt":"str"},{"t":"eq","v":"5002","vt":"str"},{"t":"eq","v":"5003","vt":"str"},{"t":"eq","v":"6000","vt":"str"},{"t":"eq","v":"6001","vt":"str"},{"t":"eq","v":"6002","vt":"str"},{"t":"eq","v":"6003","vt":"str"}],"checkall":"false","repair":false,"outputs":24,"x":252,"y":860,"wires":[[],[],["4d4f2f0f.94ba5"],[],["1ad736cd.a8a3e9"],[],["293a0e8a.fd4352"],[],[],["87298b73.94b288"],["22428193.42f17e"],[],[],["1e7e6b77.0be7e5"],["d558afd2.f35da"],[],[],[],[],["b317f2f6.6e6"],[],[],[],["3a3e3fe9.cdd4d"]],"outputLabels":["TOP LEFT: INITIAL PRESSED","TOP LEFT: HOLD","TOP LEFT: SHORT RELEASE","TOP LEFT: LONG RELEASE","BOTTOM LEFT: INITIAL PRESSED","BOTTOM LEFT: HOLD","BOTTOM LEFT: SHORT RELEASE","BOTTOM LEFT: LONG RELEASE","TOP RIGHT: INITIAL PRESSED","TOP RIGHT: HOLD","TOP RIGHT: SHORT RELEASE","TOP RIGHT: LONG RELEASE","BOTTOM RIGHT: INITIAL PRESSED","BOTTOM RIGHT: HOLD","BOTTOM RIGHT: SHORT RELEASE","BOTTOM RIGHT: LONG RELEASE","BOTH TOP: INITIAL PRESSED","BOTH TOP: HOLD","BOTH TOP: SHORT RELEASE","BOTH TOP: LONG RELEASE","BOTH BOTTOM: INITIAL PRESSED","BOTH BOTTOM: HOLD","BOTH BOTTOM: SHORT RELEASE","BOTH BOTTOM: LONG RELEASE"]},{"id":"49d2ddfe.242504","type":"link in","z":"4770d184.b6e74","name":"Schlafzimmer_FHS","links":["8d9298a4.0ddaf8"],"x":115,"y":860,"wires":[["fb96497a.94fd78"]]},{"id":"2f8ba49.4cb605c","type":"switch","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"FHS Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"},{"t":"eq","v":"5000","vt":"str"},{"t":"eq","v":"5001","vt":"str"},{"t":"eq","v":"5002","vt":"str"},{"t":"eq","v":"5003","vt":"str"},{"t":"eq","v":"6000","vt":"str"},{"t":"eq","v":"6001","vt":"str"},{"t":"eq","v":"6002","vt":"str"},{"t":"eq","v":"6003","vt":"str"}],"checkall":"false","repair":false,"outputs":24,"x":250,"y":1680,"wires":[[],[],["844e49ef.e15538","ae53f155.db799"],[],["a5b35ede.09d91"],[],["df32a7d2.3107c8"],[],[],["cf142a4e.46c088"],["f097b07c.7fc4e"],[],[],["242d8438.37d66c"],["a20fc6ed.c92218"],[],[],[],["8347727f.32e9b"],["7ba32f2e.51826"],[],[],["544f0032.9dc63"],["9ef6abe6.706ee8"]],"info":"**Friends of Hue Switch: Command palette**\r\n\r\n1000=Button(TOP LEFT) INITIAL_PRESSED\r\n1001=Button(TOP LEFT) HOLD\r\n1002=Button(TOP LEFT) SHORT RELEASED\r\n1003=Button(TOP LEFT) LONG RELEASED\r\n\r\n2000=Button(BOTTOM LEFT) INITIAL_PRESSED\r\n2001=Button(BOTTOM LEFT) HOLD\r\n2002=Button(BOTTOM LEFT) SHORT RELEASED\r\n2003=Button(BOTTOM LEFT) LONG RELEASED\r\n\r\n3000=Button(TOP RIGHT) INITIAL_PRESSED\r\n3001=Button(TOP RIGHT) HOLD\r\n3002=Button(TOP RIGHT) SHORT RELEASED\r\n3003=Button(TOP RIGHT) LONG RELEASED\r\n\r\n4000=Button(BOTTOM RIGHT) INITIAL_PRESSED\r\n4001=Button(BOTTOM RIGHT) HOLD\r\n4002=Button(BOTTOM RIGHT) SHORT RELEASED\r\n4003=Button(BOTTOM RIGHT) LONG RELEASED\r\n\r\n5000=Button(BOTH TOP) INITIAL_PRESSED\r\n5001=Button(BOTH TOP) HOLD\r\n5002=Button(BOTH TOP) SHORT RELEASED\r\n5003=Button(BOTH TOP) LONG RELEASED\r\n\r\n6000=Button(BOTH BOTTOM) INITIAL_PRESSED\r\n6001=Button(BOTH BOTTOM) HOLD\r\n6002=Button(BOTH BOTTOM) SHORT RELEASED\r\n6003=Button(BOTH BOTTOM) LONG RELEASED"},{"id":"589d8dd6.0b39c4","type":"api-call-service","z":"4770d184.b6e74","name":"Activate scenes","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.payload,\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1272.5715217590332,"y":1540.7143249511719,"wires":[[]]},{"id":"ae53f155.db799","type":"counter","z":"4770d184.b6e74","name":"idx.counter","init":"-1","step":"1","lower":"-1","upper":"4","mode":"increment","outputs":"1","x":690,"y":1520,"wires":[["3cd6155c.21803a"]]},{"id":"3f2a8794.89d628","type":"change","z":"4770d184.b6e74","name":"idx.reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":858.5714263916016,"y":1565.7142944335938,"wires":[["ae53f155.db799"]]},{"id":"3cd6155c.21803a","type":"switch","z":"4770d184.b6e74","name":"idx.switch","property":"count","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"3","v2t":"num"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":1520,"wires":[["4f2ab49a.5d248c"],["3f2a8794.89d628"]]},{"id":"4f2ab49a.5d248c","type":"function","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"scenes.array","func":"\nlight_scenes = [\n    \"scene.licht_wohnzimmer_warm\", // initial scene\n    \"scene.licht_wohnzimmer_entspannt\",\n    \"scene.licht_wohnzimmer_neutral\",\n    \"scene.licht_wohnzimmer_kalt\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1520,"wires":[["589d8dd6.0b39c4"]]},{"id":"844e49ef.e15538","type":"trigger","z":"4770d184.b6e74","name":"idx.timer","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":678.5714263916016,"y":1565.7142944335938,"wires":[["3f2a8794.89d628"]]},{"id":"a5b35ede.09d91","type":"api-current-state","z":"4770d184.b6e74","name":"idx.reset on light off","server":"96a6cce3.d0aa7","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.wohnzimmer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":708.5714263916016,"y":1605.7142944335938,"wires":[[],["3f2a8794.89d628"]]},{"id":"8347727f.32e9b","type":"api-call-service","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Scene: Ambiente warm","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_ambiente_warm","data":"{\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":1640,"wires":[[]]},{"id":"544f0032.9dc63","type":"api-call-service","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Scene: Ambiente kalt","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_ambiente_kalt","data":"{\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1720,"wires":[[]]},{"id":"da54d74f.59cff8","type":"switch","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"HDS Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":250,"y":2220,"wires":[[],[],["48dccc91.e82bb4","e52edc6b.2eb7c"],["de334ce.06c81b"],[],["cf142a4e.46c088"],["f097b07c.7fc4e"],[],[],["242d8438.37d66c"],["a20fc6ed.c92218"],[],["fa9e3a47.714b58"],[],["df32a7d2.3107c8"],["91f76eaa.98088"]],"outputLabels":["ON: INITIAL PRESSED","ON: HOLD","ON: SHORT RELEASED","ON: LONG RELEASED","DIM UP: INITIAL PRESSED","DIM UP: HOLD","DIM UP: SHORT RELEASED","DIM UP: LONG RELEASED","DIM DOWN: INITIAL PRESSED","DIM DOWN: HOLD","DIM DOWN: SHORT RELEASED","DIM DOWN: LONG RELEASED","OFF: INITIAL PRESSED","OFF: HOLD","OFF: SHORT RELEASED","OFF: LONG RELEASED"]},{"id":"9ef6abe6.706ee8","type":"api-call-service","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Scene: Hell (Stehlampe)","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_hell_stehlampe","data":"{\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":1760,"wires":[[]]},{"id":"7ba32f2e.51826","type":"api-call-service","z":"4770d184.b6e74","g":"86d03a71.04cad8","name":"Scene: Hell (Decke)","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_hell_decke","data":"{\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1680,"wires":[[]]},{"id":"c4bb4890.ff9748","type":"link in","z":"4770d184.b6e74","name":"Wohnzimmer_FHS","links":["866c4129.c610f"],"x":115,"y":1680,"wires":[["2f8ba49.4cb605c"]]},{"id":"866c4129.c610f","type":"link out","z":"4770d184.b6e74","name":"Wohnzimmer_FHS","links":["c4bb4890.ff9748"],"x":685,"y":401.25,"wires":[]}]
