node-red/.flows.json.backup
[{"id":"4770d184.b6e74","type":"tab","label":"Hue Dimmer Switch","disabled":false,"info":"Flow: Hue Dimmer Switch\nRoom: Arbeitszimmer\n\nControl light scenes and dimming for Hue lights via DeCONZ integration and HomeAssistant "},{"id":"3f8d37eb.38ff78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"96a6cce3.d0aa7","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"85d3c25e.c6e2e","type":"server-events","z":"4770d184.b6e74","name":"HueEvent","server":"96a6cce3.d0aa7","event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":118.57142639160156,"y":385.71429443359375,"wires":[["b37016e3.f35878","2d6db6c.937f94a"]]},{"id":"b37016e3.f35878","type":"switch","z":"4770d184.b6e74","name":"Hue Dimmer Switch","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"hue_dimmer_wohnzimmer","vt":"str"},{"t":"eq","v":"hue_dimmer_essbereich","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":378.57142639160156,"y":385.71429443359375,"wires":[["8fcadff6.b3312"],[]]},{"id":"8fcadff6.b3312","type":"switch","z":"4770d184.b6e74","name":"Button (Wohnzimmer)","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":658.5714263916016,"y":405.71429443359375,"wires":[[],[],["7eeabc3d.1af294","4ca9ea91.65e804"],["c885c29d.6dff4"],[],["11520ac7.c60785"],["2ca6d2b0.bbec0e"],[],[],["7d9f68f9.253358"],["41b0b664.d6cb38"],[],["46b795fd.4c28ec"],[],["99c42522.7511d8"],["b091bb2a.6466e8"]],"info":"**Hue Dimmer Switch: Command palette**\r\n\r\n1000=Button(ON) INITIAL_PRESSED\r\n1001=Button(ON) HOLD\r\n1002=Button(ON) SHORT RELEASED\r\n1003=Button(ON) LONG RELEASED\r\n\r\n2000=Button(DIM UP) INITIAL_PRESSED\r\n2001=Button(DIM UP) HOLD\r\n2002=Button(DIM UP) SHORT RELEASED\r\n2003=Button(DIM UP) LONG RELEASED\r\n\r\n3000=Button(DIM DOWN) INITIAL_PRESSED\r\n3001=Button(DIM DOWN) HOLD\r\n3002=Button(DIM DOWN) SHORT RELEASED\r\n3003=Button(DIM DOWN) LONG RELEASED\r\n\r\n4000=Button(OFF) INITIAL_PRESSED\r\n4001=Button(OFF) HOLD\r\n4002=Button(OFF) SHORT RELEASED\r\n4003=Button(OFF) LONG RELEASED"},{"id":"99c42522.7511d8","type":"api-call-service","z":"4770d184.b6e74","name":"Light off (fast)","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wohnzimmer","data":"{\"transition\": 1.5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":600,"wires":[[]]},{"id":"4321ba5b.657da4","type":"api-call-service","z":"4770d184.b6e74","name":"Activate scenes","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.payload,\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":140,"wires":[[]]},{"id":"7eeabc3d.1af294","type":"counter","z":"4770d184.b6e74","name":"idx.counter","init":"-1","step":"1","lower":"-1","upper":"7","mode":"increment","outputs":"1","x":970,"y":120,"wires":[["4973da6b.2b45b4"]]},{"id":"44d89528.1952ec","type":"change","z":"4770d184.b6e74","name":"idx.reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":180,"wires":[["7eeabc3d.1af294"]]},{"id":"4973da6b.2b45b4","type":"switch","z":"4770d184.b6e74","name":"idx.switch","property":"count","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"6","v2t":"num"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1140,"y":120,"wires":[["9bfc8ef6.375c6"],["44d89528.1952ec"]]},{"id":"9bfc8ef6.375c6","type":"function","z":"4770d184.b6e74","name":"scenes.array","func":"\nlight_scenes = [\n    \"scene.licht_wohnzimmer_warm\", // initial scene\n    \"scene.licht_wohnzimmer_neutral\",\n    \"scene.licht_wohnzimmer_kalt\",\n    \"scene.licht_wohnzimmer_entspannt\",\n    \"scene.licht_wohnzimmer_ambiente_kalt\",\n    \"scene.licht_wohnzimmer_ambiente_neutral\",\n    \"scene.licht_wohnzimmer_ambiente_warm\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":140,"wires":[["4321ba5b.657da4"]]},{"id":"4ca9ea91.65e804","type":"trigger","z":"4770d184.b6e74","name":"idx.timer","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":180,"wires":[["44d89528.1952ec"]]},{"id":"b091bb2a.6466e8","type":"api-call-service","z":"4770d184.b6e74","name":"Light off (slow)","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wohnzimmer","data":"{\"transition\": 10.0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":660,"wires":[[]]},{"id":"46b795fd.4c28ec","type":"api-current-state","z":"4770d184.b6e74","name":"idx.reset on light off","server":"96a6cce3.d0aa7","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.arbeitszimmer_hue_play","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":240,"wires":[[],["44d89528.1952ec"]]},{"id":"c885c29d.6dff4","type":"api-call-service","z":"4770d184.b6e74","name":"Activate Gedimmt","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_gedimmt","data":"{\t   \"transition\": 1.5\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":200,"wires":[[]]},{"id":"848d99b2.62c2a8","type":"function","z":"4770d184.b6e74","name":"Dim up (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": +50,\n    \"transition\": 1.0\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":360,"wires":[["b917dae8.9fd2f8"]]},{"id":"b917dae8.9fd2f8","type":"api-call-service","z":"4770d184.b6e74","name":"Activate light setting","server":"96a6cce3.d0aa7","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":400,"wires":[[]]},{"id":"22439fca.156c1","type":"trigger-state","z":"3f8d37eb.38ff78","d":true,"name":"Left Home","server":"96a6cce3.d0aa7","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.jason","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":210,"y":220,"wires":[["24ecbd00.7147a4"],[]]},{"id":"24ecbd00.7147a4","type":"ha-get-entities","z":"3f8d37eb.38ff78","d":true,"server":"96a6cce3.d0aa7","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.front_door,binary_sensor.back_door,binary_sensor.front_window,binary_sensor.back_window","valueType":"str"},{"property":"state","logic":"is","value":"open","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":376,"y":220,"wires":[["2fe88645.50ce3a"]]},{"id":"2fe88645.50ce3a","type":"template","z":"3f8d37eb.38ff78","d":true,"name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":580,"y":220,"wires":[["792cffb3.55b65"]]},{"id":"792cffb3.55b65","type":"join","z":"3f8d37eb.38ff78","d":true,"name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":220,"wires":[["c829053e.128658"]]},{"id":"c829053e.128658","type":"api-call-service","z":"3f8d37eb.38ff78","d":true,"name":"Notify","server":"96a6cce3.d0aa7","version":"1","debugenabled":false,"service_domain":"notify","service":"push_jason","entityId":"","data":"{\"message\": \"The {{payload}} are open.\",\"title\": \"Left Open\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":878,"y":220,"wires":[[]]},{"id":"4340825.b26d47c","type":"function","z":"4770d184.b6e74","name":"Dim up (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": \"+15\",\n    \"transition\": 1.5\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":320,"wires":[["b917dae8.9fd2f8"]]},{"id":"11520ac7.c60785","type":"ha-get-entities","z":"4770d184.b6e74","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.white_wohnzimmer_decke, light.hue_go","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"is_not","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1060,"y":320,"wires":[["4340825.b26d47c"]]},{"id":"2ca6d2b0.bbec0e","type":"ha-get-entities","z":"4770d184.b6e74","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.white_wohnzimmer_decke, light.hue_go","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"is_not","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1060,"y":360,"wires":[["848d99b2.62c2a8"]]},{"id":"7d9f68f9.253358","type":"ha-get-entities","z":"4770d184.b6e74","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.white_wohnzimmer_decke, light.hue_go","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1060,"y":440,"wires":[["ab183c11.8e0c6"]]},{"id":"41b0b664.d6cb38","type":"ha-get-entities","z":"4770d184.b6e74","server":"96a6cce3.d0aa7","name":"Dimmable lights","rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.white_wohnzimmer_decke, light.hue_go","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1060,"y":480,"wires":[["d8b0ff80.6693b"]]},{"id":"ab183c11.8e0c6","type":"function","z":"4770d184.b6e74","name":"Dim down (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 18) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 3,\n        \"transition\": 1.5\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -15,\n        \"transition\": 1.5\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":440,"wires":[["b917dae8.9fd2f8"]]},{"id":"d8b0ff80.6693b","type":"function","z":"4770d184.b6e74","name":"Dim down (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 53) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 3,\n        \"transition\": 1.0\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -50,\n        \"transition\": 1.0\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":480,"wires":[["b917dae8.9fd2f8"]]},{"id":"2d6db6c.937f94a","type":"debug","z":"4770d184.b6e74","name":"HueEvent - Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":368.57142639160156,"y":545.7142944335938,"wires":[]}]