node-red/.flows.json.backup
[{"id":"4770d184.b6e74","type":"tab","label":"Hue Light Control","disabled":false,"info":"Flow: Hue Light Control\n\nControl light scenes and dimming for Hue lights via DeCONZ integration and HomeAssistant "},{"id":"f3c04b18.ba1598","type":"group","z":"4770d184.b6e74","name":"Light control: Schlafzimmer","style":{"label":true},"nodes":["f9032664.628088","293a0e8a.fd4352","e3044066.96fcf","4d4f2f0f.94ba5","96b28e72.5cb9c","90da8696.bdb9d8","6bc71adb.f25b34","1ad736cd.a8a3e9","8249f3da.ec469","52fd9f4a.e85dc","6c59e57a.6f695c","87298b73.94b288","22428193.42f17e","1e7e6b77.0be7e5","d558afd2.f35da","e9725c44.c0882","3932ee0a.f6d472","3f80c04d.02ccc","6c9ca84d.855108","3a3e3fe9.cdd4d","b317f2f6.6e6","21d55cd1.b79824","fb96497a.94fd78"],"x":154,"y":599,"w":1212,"h":747},{"id":"2a36186b.a97c38","type":"group","z":"4770d184.b6e74","name":"Light control: Wohnzimmer","style":{"label":true},"nodes":["df32a7d2.3107c8","f95e0bc.5ea28f8","e52edc6b.2eb7c","d1301077.45837","8c7b7771.3ec728","8c3f3fa3.5cad","48dccc91.e82bb4","fa9e3a47.714b58","de334ce.06c81b","64043f27.8e8fe","e9a56700.9b0a98","1bbd319.33dfcce","cf142a4e.46c088","f097b07c.7fc4e","242d8438.37d66c","a20fc6ed.c92218","eaf618d9.bd3c58","486aa401.de523c","5febc5c8.879cfc","2f8ba49.4cb605c","589d8dd6.0b39c4","ae53f155.db799","3f2a8794.89d628","3cd6155c.21803a","4f2ab49a.5d248c","844e49ef.e15538","a5b35ede.09d91","8347727f.32e9b","544f0032.9dc63","da54d74f.59cff8","9ef6abe6.706ee8","7ba32f2e.51826","91f76eaa.98088"],"x":154,"y":1416,"w":1192,"h":950},{"id":"b49e43d9.c997f","type":"group","z":"4770d184.b6e74","name":"Light control: Eingang","style":{"label":true},"nodes":["3a7f3187.661ade","572c5042.6d07a","cea49748.20dbd8","cce7bcab.1186f","f776d5ea.748748","a2e6cb33.4c9838","b72d63c5.c3829","199d98c2.076ae7","8f94b206.52397","42e02db5.a130a4","4a4a3a60.126644","ce2bb200.ed916","fbb37f77.3491c","50dd2820.6d2348","b1958229.809c1","bf5b2f26.d90b4"],"x":154,"y":2439,"w":1272,"h":742},{"id":"96a6cce3.d0aa7","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"d436dc94.5aea","type":"deconz-server","name":"Raspbee2","ip":"192.168.178.6","port":"40850","ws_port":"8081","secure":false,"polling":"1"},{"id":"85d3c25e.c6e2e","type":"server-events","z":"4770d184.b6e74","name":"HueEvent","server":"96a6cce3.d0aa7","version":1,"event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":140,"y":260,"wires":[["b37016e3.f35878","2d6db6c.937f94a","d179f23e.f7da1"]]},{"id":"b37016e3.f35878","type":"switch","z":"4770d184.b6e74","name":"Hue Dimmer Switch","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"hue_dimmer_wohnzimmer","vt":"str"},{"t":"eq","v":"hue_dimmer_essbereich","vt":"str"},{"t":"eq","v":"hue_dimmer_schlafzimmer","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":440,"y":180,"wires":[["9d58a7e2.5c6ae8"],["e13c8a27.da69b8"],["3c9d9e72.6c4ce2"]],"outputLabels":["Wohnzimmer","Essbereich","Schlafzimmer"]},{"id":"2d6db6c.937f94a","type":"debug","z":"4770d184.b6e74","name":"HueEvent - Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":80,"wires":[]},{"id":"f9032664.628088","type":"switch","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"HDS Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":250,"y":1200,"wires":[[],[],["4d4f2f0f.94ba5"],["b317f2f6.6e6"],[],["87298b73.94b288"],["22428193.42f17e"],[],[],["1e7e6b77.0be7e5"],["d558afd2.f35da"],[],["1ad736cd.a8a3e9"],[],["293a0e8a.fd4352"],["3a3e3fe9.cdd4d"]],"outputLabels":["ON: INITIAL PRESSED","ON: HOLD","ON: SHORT RELEASED","ON: LONG RELEASED","DIM UP: INITIAL PRESSED","DIM UP: HOLD","DIM UP: SHORT RELEASED","DIM UP: LONG RELEASED","DIM DOWN: INITIAL PRESSED","DIM DOWN: HOLD","DIM DOWN: SHORT RELEASED","DIM DOWN: LONG RELEASED","OFF: INITIAL PRESSED","OFF: HOLD","OFF: SHORT RELEASED","OFF: LONG RELEASED"]},{"id":"293a0e8a.fd4352","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Light off","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.schlafzimmer","data":"{\"transition\": 1.0}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":1200,"wires":[[]]},{"id":"e3044066.96fcf","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Activate scenes","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.payload,\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":760,"wires":[[]]},{"id":"4d4f2f0f.94ba5","type":"counter","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"idx.counter","init":"-1","step":"1","lower":"-1","upper":"5","mode":"increment","outputs":"1","x":570,"y":760,"wires":[["90da8696.bdb9d8"]]},{"id":"96b28e72.5cb9c","type":"change","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"idx.reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":820,"wires":[["4d4f2f0f.94ba5"]]},{"id":"90da8696.bdb9d8","type":"switch","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"idx.switch","property":"count","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"4","v2t":"num"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":760,"wires":[["3f80c04d.02ccc"],["96b28e72.5cb9c"]]},{"id":"6bc71adb.f25b34","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"scenes.day","func":"light_scenes = [\n    \"scene.licht_schlafzimmer_hell\", // initial scene\n    \"scene.licht_schlafzimmer_gedimmt\",\n    \"scene.licht_schlafzimmer_ambiente\",\n    \"scene.licht_schlafzimmer_dunkel\",\n    \"scene.licht_schlafzimmer_nacht\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":740,"wires":[["e3044066.96fcf"]]},{"id":"1ad736cd.a8a3e9","type":"api-current-state","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"idx.reset on light off","server":"96a6cce3.d0aa7","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.schlafzimmer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":562.5714263916016,"y":821.7142944335938,"wires":[[],["96b28e72.5cb9c"]]},{"id":"8249f3da.ec469","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dim up (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": +50,\n    \"transition\": 1.0\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":911.4285736083984,"y":1034.2857055664062,"wires":[["52fd9f4a.e85dc"]]},{"id":"52fd9f4a.e85dc","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Activate light setting","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1194.000015258789,"y":1072.9999074935913,"wires":[[]]},{"id":"6c59e57a.6f695c","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dim up (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": \"+15\",\n    \"transition\": 1.0\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":911.4286003112793,"y":994.2857465744019,"wires":[["52fd9f4a.e85dc"]]},{"id":"87298b73.94b288","type":"ha-get-entities","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dimmable lights","server":"96a6cce3.d0aa7","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"light.white_schlafzimmer_1, light.white_schlafzimmer_2, light.white_schlafzimmer_3, light.white_schlafzimmer_4","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"lt","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":701.4285736083984,"y":994.2857055664062,"wires":[["6c59e57a.6f695c"]]},{"id":"22428193.42f17e","type":"ha-get-entities","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dimmable lights","server":"96a6cce3.d0aa7","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"light.white_schlafzimmer_1, light.white_schlafzimmer_2, light.white_schlafzimmer_3, light.white_schlafzimmer_4","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"lt","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":701.4285736083984,"y":1034.2857055664062,"wires":[["8249f3da.ec469"]]},{"id":"1e7e6b77.0be7e5","type":"ha-get-entities","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dimmable lights","server":"96a6cce3.d0aa7","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"light.white_schlafzimmer_1, light.white_schlafzimmer_2, light.white_schlafzimmer_3, light.white_schlafzimmer_4","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":700,"y":1100,"wires":[["e9725c44.c0882"]]},{"id":"d558afd2.f35da","type":"ha-get-entities","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dimmable lights","server":"96a6cce3.d0aa7","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"light.white_schlafzimmer_1, light.white_schlafzimmer_2, light.white_schlafzimmer_3, light.white_schlafzimmer_4","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":700,"y":1140,"wires":[["3932ee0a.f6d472"]]},{"id":"e9725c44.c0882","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dim down (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 18) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.0\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -15,\n        \"transition\": 1.0\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":921.0001335144043,"y":1100.0000133514404,"wires":[["52fd9f4a.e85dc"]]},{"id":"3932ee0a.f6d472","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Dim down (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 53) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.0\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -50,\n        \"transition\": 1.0\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":911.0001335144043,"y":1140.0000133514404,"wires":[["52fd9f4a.e85dc"]]},{"id":"3f80c04d.02ccc","type":"time-range-switch","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Day/Night","lat":"53.663610","lon":"10.028440","startTime":"7:30","endTime":"22:30","startOffset":0,"endOffset":0,"x":900,"y":760,"wires":[["6bc71adb.f25b34"],["6c9ca84d.855108"]]},{"id":"6c9ca84d.855108","type":"function","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"scenes.night","func":"light_scenes = [\n    \"scene.licht_schlafzimmer_nacht\", // initial scene\n    \"scene.licht_schlafzimmer_dunkel\",\n    \"scene.licht_schlafzimmer_ambiente\",\n    \"scene.licht_schlafzimmer_gedimmt\",\n    \"scene.licht_schlafzimmer_hell\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":780,"wires":[["e3044066.96fcf"]]},{"id":"65e835e5.5192bc","type":"link in","z":"4770d184.b6e74","name":"Schlafzimmer_HDS","links":["3c9d9e72.6c4ce2"],"x":115,"y":1200,"wires":[["f9032664.628088"]]},{"id":"3a3e3fe9.cdd4d","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Shutter: fully close","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.shelly_shsw_25_40f52000d69a","data":"{\"position\":0}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1260,"wires":[[]]},{"id":"b317f2f6.6e6","type":"api-call-service","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Shutter: fully open","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.shelly_shsw_25_40f52000d69a","data":"{\"position\":100}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":940,"wires":[[]]},{"id":"3c9d9e72.6c4ce2","type":"link out","z":"4770d184.b6e74","name":"Schlafzimmer_HDS","links":["65e835e5.5192bc","490bbb2c.1c0614"],"x":695,"y":220,"wires":[]},{"id":"df32a7d2.3107c8","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Light off (fast)","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wohnzimmer","data":"{\"transition\": 1.0}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":2020,"wires":[[]]},{"id":"f95e0bc.5ea28f8","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Activate scenes","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.payload,\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":2120,"wires":[[]]},{"id":"e52edc6b.2eb7c","type":"counter","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.counter","init":"-1","step":"1","lower":"-1","upper":"7","mode":"increment","outputs":"1","x":597.4284782409668,"y":2099.285675048828,"wires":[["8c7b7771.3ec728"]]},{"id":"d1301077.45837","type":"change","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":765.9999046325684,"y":2144.999969482422,"wires":[["e52edc6b.2eb7c"]]},{"id":"8c7b7771.3ec728","type":"switch","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.switch","property":"count","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"6","v2t":"num"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":767.4284782409668,"y":2099.285675048828,"wires":[["8c3f3fa3.5cad"],["d1301077.45837"]]},{"id":"8c3f3fa3.5cad","type":"function","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"scenes.array","func":"\nlight_scenes = [\n    \"scene.licht_wohnzimmer_warm\", // initial scene\n    \"scene.licht_wohnzimmer_entspannt\",\n    \"scene.licht_wohnzimmer_neutral\",\n    \"scene.licht_wohnzimmer_kalt\",\n    \"scene.licht_wohnzimmer_ambiente_kalt\",\n    \"scene.licht_wohnzimmer_ambiente_neutral\",\n    \"scene.licht_wohnzimmer_ambiente_warm\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":957.4284782409668,"y":2119.285675048828,"wires":[["f95e0bc.5ea28f8"]]},{"id":"48dccc91.e82bb4","type":"trigger","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.timer","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":585.9999046325684,"y":2144.999969482422,"wires":[["d1301077.45837"]]},{"id":"91f76eaa.98088","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Light off (slow)","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wohnzimmer","data":"{\"transition\": 10.0}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":2320,"wires":[[]]},{"id":"fa9e3a47.714b58","type":"api-current-state","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.reset on light off","server":"96a6cce3.d0aa7","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.wohnzimmer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":615.9999046325684,"y":2184.999969482422,"wires":[[],["d1301077.45837"]]},{"id":"de334ce.06c81b","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Scene: Gedimmt","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_gedimmt","data":"{\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":2260,"wires":[[]]},{"id":"64043f27.8e8fe","type":"function","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Dim up (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": +50,\n    \"transition\": 1.0\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1860,"wires":[["e9a56700.9b0a98"]]},{"id":"e9a56700.9b0a98","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Activate light setting","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1219.9999771118164,"y":1899.999942779541,"wires":[[]]},{"id":"1bbd319.33dfcce","type":"function","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Dim up (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nmsg.payload = {\n    \"entity_id\": msg.payload.entity_id,\n    \"brightness_step\": \"+15\",\n    \"transition\": 1.0\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":939.9999771118164,"y":1819.999942779541,"wires":[["e9a56700.9b0a98"]]},{"id":"cf142a4e.46c088","type":"ha-get-entities","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Dimmable lights","server":"96a6cce3.d0aa7","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.ambiance_wohnzimmer_g, light.white_wohnzimmer_decke, light.hue_go_erdgeschoss","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"lt","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":719.9999771118164,"y":1819.999942779541,"wires":[["1bbd319.33dfcce"]]},{"id":"f097b07c.7fc4e","type":"ha-get-entities","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Dimmable lights","server":"96a6cce3.d0aa7","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.ambiance_wohnzimmer_g, light.white_wohnzimmer_decke, light.hue_go_erdgeschoss","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"lt","value":"255","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":719.9999771118164,"y":1859.999942779541,"wires":[["64043f27.8e8fe"]]},{"id":"242d8438.37d66c","type":"ha-get-entities","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Dimmable lights","server":"96a6cce3.d0aa7","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.ambiance_wohnzimmer_g, light.white_wohnzimmer_decke, light.hue_go_erdgeschoss","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":718.571403503418,"y":1925.7142372131348,"wires":[["eaf618d9.bd3c58"]]},{"id":"a20fc6ed.c92218","type":"ha-get-entities","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Dimmable lights","server":"96a6cce3.d0aa7","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"light.color_wohnzimmer_b, light.color_wohnzimmer_w, light.ambiance_wohnzimmer_g, light.white_wohnzimmer_decke, light.hue_go_erdgeschoss","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"attributes.brightness","logic":"gt","value":"3","valueType":"num"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":718.571403503418,"y":1965.7142372131348,"wires":[["486aa401.de523c"]]},{"id":"eaf618d9.bd3c58","type":"function","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Dim down (smooth)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 18) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.0\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -15,\n        \"transition\": 1.0\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":948.571403503418,"y":1925.7142372131348,"wires":[["e9a56700.9b0a98"]]},{"id":"486aa401.de523c","type":"function","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Dim down (step)","func":"/* Use HA stepping function to increase brightness\n   Change brightness by an amount: between -255..255\n*/\n\nif (msg.payload.attributes.brightness < 53) {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness\": 1,\n        \"transition\": 1.0\n    }\n}\nelse {\n    msg.payload = {\n        \"entity_id\": msg.payload.entity_id,\n        \"brightness_step\": -50,\n        \"transition\": 1.0\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":938.571403503418,"y":1965.7142372131348,"wires":[["e9a56700.9b0a98"]]},{"id":"7afada92.2a5d04","type":"link in","z":"4770d184.b6e74","name":"Wohnzimmer_HDS","links":["9d58a7e2.5c6ae8"],"x":115,"y":2220,"wires":[["da54d74f.59cff8"]]},{"id":"9d58a7e2.5c6ae8","type":"link out","z":"4770d184.b6e74","name":"Wohnzimmer_HDS","links":["7afada92.2a5d04"],"x":695,"y":140,"wires":[]},{"id":"e13c8a27.da69b8","type":"link out","z":"4770d184.b6e74","name":"Essbereich_HDS","links":["9ebbee36.cc2bd"],"x":695,"y":180,"wires":[]},{"id":"d179f23e.f7da1","type":"switch","z":"4770d184.b6e74","name":"Friends Of Hue Switch","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"foh_schalter_eingang","vt":"str"},{"t":"eq","v":"foh_schalter_esszimmer","vt":"str"},{"t":"eq","v":"foh_schalter_kueche","vt":"str"},{"t":"eq","v":"foh_schalter_wohnzimmer","vt":"str"},{"t":"eq","v":"foh_schalter_schlafzimmer","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":450,"y":400,"wires":[["d9a8fb91.384f18"],["e9889626.ccc878"],["6deab032.32a5d"],["866c4129.c610f"],["8d9298a4.0ddaf8"]],"outputLabels":["","","","","Schlafzimmer"]},{"id":"5febc5c8.879cfc","type":"comment","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Light sources","info":"// Stehlampe\nlight.color_wohnzimmer_b\nlight.color_wohnzimmer_w\nlight.ambiance_wohnzimmer_g\n\n// Hue Go\nlight.hue_go_erdgeschoss\n\n// Deckenlicht\nlight.white_wohnzimmer_decked\n","x":250,"y":1457,"wires":[]},{"id":"21d55cd1.b79824","type":"comment","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"Light sources","info":"// Schlafzimmer - Deckenlicht\nlight.white_schlafzimmer_1\nlight.white_schlafzimmer_2\nlight.white_schlafzimmer_3\nlight.white_schlafzimmer_4\n","x":250,"y":640,"wires":[]},{"id":"8d9298a4.0ddaf8","type":"link out","z":"4770d184.b6e74","name":"Schlafzimmer_FHS","links":["49d2ddfe.242504"],"x":695,"y":480,"wires":[]},{"id":"fb96497a.94fd78","type":"switch","z":"4770d184.b6e74","g":"f3c04b18.ba1598","name":"FHS Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"},{"t":"eq","v":"5000","vt":"str"},{"t":"eq","v":"5001","vt":"str"},{"t":"eq","v":"5002","vt":"str"},{"t":"eq","v":"5003","vt":"str"},{"t":"eq","v":"6000","vt":"str"},{"t":"eq","v":"6001","vt":"str"},{"t":"eq","v":"6002","vt":"str"},{"t":"eq","v":"6003","vt":"str"}],"checkall":"false","repair":false,"outputs":24,"x":252,"y":860,"wires":[[],[],["4d4f2f0f.94ba5"],[],["1ad736cd.a8a3e9"],[],["293a0e8a.fd4352"],[],[],["87298b73.94b288"],["22428193.42f17e"],[],[],["1e7e6b77.0be7e5"],["d558afd2.f35da"],[],[],[],[],["b317f2f6.6e6"],[],[],[],["3a3e3fe9.cdd4d"]],"outputLabels":["TOP LEFT: INITIAL PRESSED","TOP LEFT: HOLD","TOP LEFT: SHORT RELEASE","TOP LEFT: LONG RELEASE","BOTTOM LEFT: INITIAL PRESSED","BOTTOM LEFT: HOLD","BOTTOM LEFT: SHORT RELEASE","BOTTOM LEFT: LONG RELEASE","TOP RIGHT: INITIAL PRESSED","TOP RIGHT: HOLD","TOP RIGHT: SHORT RELEASE","TOP RIGHT: LONG RELEASE","BOTTOM RIGHT: INITIAL PRESSED","BOTTOM RIGHT: HOLD","BOTTOM RIGHT: SHORT RELEASE","BOTTOM RIGHT: LONG RELEASE","BOTH TOP: INITIAL PRESSED","BOTH TOP: HOLD","BOTH TOP: SHORT RELEASE","BOTH TOP: LONG RELEASE","BOTH BOTTOM: INITIAL PRESSED","BOTH BOTTOM: HOLD","BOTH BOTTOM: SHORT RELEASE","BOTH BOTTOM: LONG RELEASE"]},{"id":"49d2ddfe.242504","type":"link in","z":"4770d184.b6e74","name":"Schlafzimmer_FHS","links":["8d9298a4.0ddaf8"],"x":115,"y":860,"wires":[["fb96497a.94fd78"]]},{"id":"2f8ba49.4cb605c","type":"switch","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"FHS Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"},{"t":"eq","v":"5000","vt":"str"},{"t":"eq","v":"5001","vt":"str"},{"t":"eq","v":"5002","vt":"str"},{"t":"eq","v":"5003","vt":"str"},{"t":"eq","v":"6000","vt":"str"},{"t":"eq","v":"6001","vt":"str"},{"t":"eq","v":"6002","vt":"str"},{"t":"eq","v":"6003","vt":"str"}],"checkall":"false","repair":false,"outputs":24,"x":250,"y":1680,"wires":[[],[],["844e49ef.e15538","ae53f155.db799"],[],["a5b35ede.09d91"],[],["df32a7d2.3107c8"],[],[],["cf142a4e.46c088"],["f097b07c.7fc4e"],[],[],["242d8438.37d66c"],["a20fc6ed.c92218"],[],[],[],["8347727f.32e9b"],["7ba32f2e.51826"],[],[],["544f0032.9dc63"],["9ef6abe6.706ee8"]],"info":"**Friends of Hue Switch: Command palette**\r\n\r\n1000=Button(TOP LEFT) INITIAL_PRESSED\r\n1001=Button(TOP LEFT) HOLD\r\n1002=Button(TOP LEFT) SHORT RELEASED\r\n1003=Button(TOP LEFT) LONG RELEASED\r\n\r\n2000=Button(BOTTOM LEFT) INITIAL_PRESSED\r\n2001=Button(BOTTOM LEFT) HOLD\r\n2002=Button(BOTTOM LEFT) SHORT RELEASED\r\n2003=Button(BOTTOM LEFT) LONG RELEASED\r\n\r\n3000=Button(TOP RIGHT) INITIAL_PRESSED\r\n3001=Button(TOP RIGHT) HOLD\r\n3002=Button(TOP RIGHT) SHORT RELEASED\r\n3003=Button(TOP RIGHT) LONG RELEASED\r\n\r\n4000=Button(BOTTOM RIGHT) INITIAL_PRESSED\r\n4001=Button(BOTTOM RIGHT) HOLD\r\n4002=Button(BOTTOM RIGHT) SHORT RELEASED\r\n4003=Button(BOTTOM RIGHT) LONG RELEASED\r\n\r\n5000=Button(BOTH TOP) INITIAL_PRESSED\r\n5001=Button(BOTH TOP) HOLD\r\n5002=Button(BOTH TOP) SHORT RELEASED\r\n5003=Button(BOTH TOP) LONG RELEASED\r\n\r\n6000=Button(BOTH BOTTOM) INITIAL_PRESSED\r\n6001=Button(BOTH BOTTOM) HOLD\r\n6002=Button(BOTH BOTTOM) SHORT RELEASED\r\n6003=Button(BOTH BOTTOM) LONG RELEASED"},{"id":"589d8dd6.0b39c4","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Activate scenes","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.payload,\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":1500,"wires":[[]]},{"id":"ae53f155.db799","type":"counter","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.counter","init":"-1","step":"1","lower":"-1","upper":"4","mode":"increment","outputs":"1","x":690,"y":1500,"wires":[["3cd6155c.21803a"]]},{"id":"3f2a8794.89d628","type":"change","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":858.5714263916016,"y":1545.7142944335938,"wires":[["ae53f155.db799"]]},{"id":"3cd6155c.21803a","type":"switch","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.switch","property":"count","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"3","v2t":"num"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":1500,"wires":[["4f2ab49a.5d248c"],["3f2a8794.89d628"]]},{"id":"4f2ab49a.5d248c","type":"function","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"scenes.array","func":"\nlight_scenes = [\n    \"scene.licht_wohnzimmer_warm\", // initial scene\n    \"scene.licht_wohnzimmer_entspannt\",\n    \"scene.licht_wohnzimmer_neutral\",\n    \"scene.licht_wohnzimmer_kalt\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1500,"wires":[["589d8dd6.0b39c4"]]},{"id":"844e49ef.e15538","type":"trigger","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.timer","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":678.5714263916016,"y":1545.7142944335938,"wires":[["3f2a8794.89d628"]]},{"id":"a5b35ede.09d91","type":"api-current-state","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"idx.reset on light off","server":"96a6cce3.d0aa7","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.wohnzimmer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":710,"y":1585,"wires":[[],["3f2a8794.89d628"]]},{"id":"8347727f.32e9b","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Scene: Ambiente warm","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_ambiente_warm","data":"{\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":1640,"wires":[[]]},{"id":"544f0032.9dc63","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Scene: Ambiente kalt","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_ambiente_kalt","data":"{\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":1720,"wires":[[]]},{"id":"da54d74f.59cff8","type":"switch","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"HDS Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":250,"y":2220,"wires":[[],[],["48dccc91.e82bb4","e52edc6b.2eb7c"],["de334ce.06c81b"],[],["cf142a4e.46c088"],["f097b07c.7fc4e"],[],[],["242d8438.37d66c"],["a20fc6ed.c92218"],[],["fa9e3a47.714b58"],[],["df32a7d2.3107c8"],["91f76eaa.98088"]],"outputLabels":["ON: INITIAL PRESSED","ON: HOLD","ON: SHORT RELEASED","ON: LONG RELEASED","DIM UP: INITIAL PRESSED","DIM UP: HOLD","DIM UP: SHORT RELEASED","DIM UP: LONG RELEASED","DIM DOWN: INITIAL PRESSED","DIM DOWN: HOLD","DIM DOWN: SHORT RELEASED","DIM DOWN: LONG RELEASED","OFF: INITIAL PRESSED","OFF: HOLD","OFF: SHORT RELEASED","OFF: LONG RELEASED"]},{"id":"9ef6abe6.706ee8","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Scene: Hell (Stehlampe)","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_hell_stehlampe","data":"{\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":1760,"wires":[[]]},{"id":"7ba32f2e.51826","type":"api-call-service","z":"4770d184.b6e74","g":"2a36186b.a97c38","name":"Scene: Hell (Decke)","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_hell_decke","data":"{\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1680,"wires":[[]]},{"id":"c4bb4890.ff9748","type":"link in","z":"4770d184.b6e74","name":"Wohnzimmer_FHS","links":["866c4129.c610f","d9a8fb91.384f18","6deab032.32a5d","e9889626.ccc878"],"x":115,"y":1680,"wires":[["2f8ba49.4cb605c"]]},{"id":"866c4129.c610f","type":"link out","z":"4770d184.b6e74","name":"Wohnzimmer_FHS","links":["c4bb4890.ff9748"],"x":695,"y":440,"wires":[]},{"id":"112ad000.05498","type":"link in","z":"4770d184.b6e74","name":"Eingang_FHS","links":["d9a8fb91.384f18"],"x":115,"y":2820,"wires":[["4a4a3a60.126644"]]},{"id":"3a7f3187.661ade","type":"api-call-service","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"Light off","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.zugang","data":"{\"transition\": 1.0}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":3040,"wires":[[]]},{"id":"572c5042.6d07a","type":"api-call-service","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"Activate scenes","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.payload,\t   \"transition\": 1.0\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":2600,"wires":[[]]},{"id":"cea49748.20dbd8","type":"counter","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"idx.counter","init":"-1","step":"1","lower":"-1","upper":"5","mode":"increment","outputs":"1","x":570,"y":2600,"wires":[["f776d5ea.748748"]]},{"id":"cce7bcab.1186f","type":"change","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"idx.reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2660,"wires":[["cea49748.20dbd8"]]},{"id":"f776d5ea.748748","type":"switch","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"idx.switch","property":"count","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"4","v2t":"num"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":2600,"wires":[["199d98c2.076ae7"],["cce7bcab.1186f"]]},{"id":"a2e6cb33.4c9838","type":"function","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"scenes.day","func":"light_scenes = [\n    \"scene.licht_eingang_hell\", // initial scene\n    \"scene.licht_schlafzimmer_gedimmt\",\n    \"scene.licht_schlafzimmer_ambiente\",\n    \"scene.licht_schlafzimmer_dunkel\",\n    \"scene.licht_schlafzimmer_nacht\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":2580,"wires":[["572c5042.6d07a"]]},{"id":"b72d63c5.c3829","type":"api-current-state","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"idx.reset on light off","server":"96a6cce3.d0aa7","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.schlafzimmer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":562.5714263916016,"y":2661.7142944335938,"wires":[[],["cce7bcab.1186f"]]},{"id":"199d98c2.076ae7","type":"time-range-switch","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"Day/Night","lat":"53.663610","lon":"10.028440","startTime":"7:30","endTime":"22:30","startOffset":0,"endOffset":0,"x":900,"y":2600,"wires":[["a2e6cb33.4c9838"],["8f94b206.52397"]]},{"id":"8f94b206.52397","type":"function","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"scenes.night","func":"light_scenes = [\n    \"scene.licht_eingang_nacht\", // initial scene\n    \"scene.licht_eingang_dekoration\",\n    \"scene.licht_eingang_gedimmt\",\n    \"scene.licht_eingang_ambiente\",\n    \"scene.licht_eingang_warm\"\n]\n\npayload = light_scenes[msg.count % light_scenes.length]\n\nreturn {payload: payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":2620,"wires":[["572c5042.6d07a"]]},{"id":"42e02db5.a130a4","type":"comment","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"Light sources","info":"// Schlafzimmer - Deckenlicht\nlight.white_schlafzimmer_1\nlight.white_schlafzimmer_2\nlight.white_schlafzimmer_3\nlight.white_schlafzimmer_4\n","x":250,"y":2480,"wires":[]},{"id":"4a4a3a60.126644","type":"switch","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"FHS Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2000","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3000","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4000","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4003","vt":"str"},{"t":"eq","v":"5000","vt":"str"},{"t":"eq","v":"5001","vt":"str"},{"t":"eq","v":"5002","vt":"str"},{"t":"eq","v":"5003","vt":"str"},{"t":"eq","v":"6000","vt":"str"},{"t":"eq","v":"6001","vt":"str"},{"t":"eq","v":"6002","vt":"str"},{"t":"eq","v":"6003","vt":"str"}],"checkall":"false","repair":false,"outputs":24,"x":250,"y":2820,"wires":[[],[],["cea49748.20dbd8"],[],["b72d63c5.c3829"],[],["3a7f3187.661ade"],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],["bf5b2f26.d90b4"]],"outputLabels":["TOP LEFT: INITIAL PRESSED","TOP LEFT: HOLD","TOP LEFT: SHORT RELEASE","TOP LEFT: LONG RELEASE","BOTTOM LEFT: INITIAL PRESSED","BOTTOM LEFT: HOLD","BOTTOM LEFT: SHORT RELEASE","BOTTOM LEFT: LONG RELEASE","TOP RIGHT: INITIAL PRESSED","TOP RIGHT: HOLD","TOP RIGHT: SHORT RELEASE","TOP RIGHT: LONG RELEASE","BOTTOM RIGHT: INITIAL PRESSED","BOTTOM RIGHT: HOLD","BOTTOM RIGHT: SHORT RELEASE","BOTTOM RIGHT: LONG RELEASE","BOTH TOP: INITIAL PRESSED","BOTH TOP: HOLD","BOTH TOP: SHORT RELEASE","BOTH TOP: LONG RELEASE","BOTH BOTTOM: INITIAL PRESSED","BOTH BOTTOM: HOLD","BOTH BOTTOM: SHORT RELEASE","BOTH BOTTOM: LONG RELEASE"]},{"id":"d9a8fb91.384f18","type":"link out","z":"4770d184.b6e74","name":"Eingang_FHS","links":["c4bb4890.ff9748","112ad000.05498"],"x":695,"y":320,"wires":[]},{"id":"6deab032.32a5d","type":"link out","z":"4770d184.b6e74","name":"Küche_FHS","links":["c4bb4890.ff9748"],"x":695,"y":400,"wires":[]},{"id":"e9889626.ccc878","type":"link out","z":"4770d184.b6e74","name":"Esszimmer_FHS","links":["c4bb4890.ff9748"],"x":695,"y":360,"wires":[]},{"id":"ce2bb200.ed916","type":"api-call-service","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"Light off (BaumHaus)","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.baumhaus","data":"{\"transition\": 5.0}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":3140,"wires":[[]],"info":"Schaltet das gesamte Licht im BaumHaus aus (z.B. beim Verlassen des Hauses)"},{"id":"fbb37f77.3491c","type":"api-call-service","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"Echo Notification","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"notify","service":"alexa_media_echo_dot_wohnzimmer","entityId":"","data":"{\"message\":\"Licht im Haus wird ausgeschaltet\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":3100,"wires":[["b1958229.809c1"]]},{"id":"50dd2820.6d2348","type":"inject","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":3140,"wires":[["bf5b2f26.d90b4"]]},{"id":"b1958229.809c1","type":"delay","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":3140,"wires":[["ce2bb200.ed916"]]},{"id":"bf5b2f26.d90b4","type":"api-current-state","z":"4770d184.b6e74","g":"b49e43d9.c997f","name":"Speech Notifications?","server":"96a6cce3.d0aa7","version":2,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.notify_echo_automations","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":3140,"wires":[["fbb37f77.3491c"],["b1958229.809c1"]]},{"id":"a8e82748.369308","type":"deconz-input","z":"4770d184.b6e74","name":"Hue Motion - Wohnzimmer","server":"d436dc94.5aea","device":"00:17:88:01:08:67:22:c8-02-0406","device_name":"Bewegungsmelder - Wohnzimmer : ZHAPresence","topic":"","state":"presence","output":"onchange","outputAtStartup":true,"x":930,"y":100,"wires":[["a04cafbd.12de6","3b7f40fb.ae773","901e3b94.c07c28"],[]]},{"id":"a04cafbd.12de6","type":"debug","z":"4770d184.b6e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":380,"wires":[]},{"id":"3b7f40fb.ae773","type":"trigger","z":"4770d184.b6e74","name":"","op1":"motion","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":true,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1390,"y":60,"wires":[["1393c12c.1bdd4f"]]},{"id":"901e3b94.c07c28","type":"api-current-state","z":"4770d184.b6e74","name":"Light off?","server":"96a6cce3.d0aa7","version":2,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"light.wohnzimmer","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1380,"y":160,"wires":[["a515db0d.aad258"],[]]},{"id":"4aaae1a7.fcc94","type":"api-call-service","z":"4770d184.b6e74","name":"","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_neutral","data":"{\"transition\":1}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1770,"y":140,"wires":[[]]},{"id":"94656865.e385b8","type":"api-call-service","z":"4770d184.b6e74","name":"","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.licht_wohnzimmer_nacht","data":"{\"transition\":1}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1770,"y":180,"wires":[[]]},{"id":"a515db0d.aad258","type":"time-range-switch","z":"4770d184.b6e74","name":"Day/Night","lat":"53.663610","lon":"10.028440","startTime":"7:30","endTime":"22:30","startOffset":0,"endOffset":0,"x":1560,"y":160,"wires":[["4aaae1a7.fcc94"],["94656865.e385b8"]]},{"id":"1393c12c.1bdd4f","type":"api-call-service","z":"4770d184.b6e74","name":"Turn off","server":"96a6cce3.d0aa7","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wohnzimmer","data":"{\"transition\":2}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1740,"y":60,"wires":[[]]},{"id":"47790c38.840f64","type":"deconz-input","z":"4770d184.b6e74","name":"Hue Motion - Wohnzimmer","server":"d436dc94.5aea","device":"00:17:88:01:08:67:22:c8-02-0400","device_name":"Bewegungsmelder - Wohnzimmer : ZHALightLevel","topic":"","state":"lux","output":"onchange","outputAtStartup":true,"x":930,"y":240,"wires":[["a04cafbd.12de6","742b8.3e5c8d48c"],[]]},{"id":"742b8.3e5c8d48c","type":"switch","z":"4770d184.b6e74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"75","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1170,"y":160,"wires":[["901e3b94.c07c28"]]}]