node-red/flows.json
[{"id":"f2220e44.6bfb4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0867982.9fe578","type":"tab","label":"Hue","disabled":false,"info":""},{"id":"96a6cce3.d0aa7","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"ca81499b.a38858","type":"deconz-server","name":"RaspBee2","ip":"core-deconz","port":"40850","apikey":"","ws_port":"8081","secure":false,"polling":"15"},{"id":"2993e8b4.fc1e78","type":"server","name":"Home Assistant","addon":true},{"id":"1a60866e.eb60fa","type":"server-events","z":"e0867982.9fe578","name":"HueEvent","server":"2993e8b4.fc1e78","event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":60,"y":280,"wires":[["5399bb16.d25214"]]},{"id":"5e9fd622.0bf928","type":"switch","z":"e0867982.9fe578","name":"Device","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"hue_switch_eingang","vt":"str"},{"t":"eq","v":"hue_switch_schlafzimmer","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":280,"wires":[["f8c2ed78.827bc"],[]]},{"id":"f8c2ed78.827bc","type":"switch","z":"e0867982.9fe578","name":"Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1003","vt":"num"},{"t":"eq","v":"2003","vt":"num"},{"t":"eq","v":"3003","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":160,"wires":[["8968b45e.e24f68"],[],[]]},{"id":"8968b45e.e24f68","type":"api-current-state","z":"e0867982.9fe578","name":"BedMotion?","server":"2993e8b4.fc1e78","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.bedroom_detector","state_type":"str","state_location":"bedmotion","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":80,"wires":[["57c3804d.7bffb"],["ea990268.7a197"]],"outputLabels":["On","Off"]},{"id":"57c3804d.7bffb","type":"api-call-service","z":"e0867982.9fe578","name":"BedMotionOff","server":"2993e8b4.fc1e78","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bedroom_detector","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":40,"wires":[["fe1a2886.83ce38"]]},{"id":"ea990268.7a197","type":"api-call-service","z":"e0867982.9fe578","name":"BedBright","server":"2993e8b4.fc1e78","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_bedroom","data":"{\"brightness\":255,\"xy_color\":[0.37,0.372]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":120,"wires":[[]]},{"id":"fe1a2886.83ce38","type":"api-call-service","z":"e0867982.9fe578","name":"BedBright","server":"2993e8b4.fc1e78","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_bedroom","data":"{\"brightness\":255,\"xy_color\":[0.37,0.372]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":40,"wires":[["4d5e6cb4.6d39d4"]]},{"id":"4d5e6cb4.6d39d4","type":"ha-wait-until","z":"e0867982.9fe578","name":"LightOff","server":"2993e8b4.fc1e78","outputs":1,"entityId":"light.master_bedroom","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1040,"y":40,"wires":[["3d50491c.eb58e6"]]},{"id":"3d50491c.eb58e6","type":"api-call-service","z":"e0867982.9fe578","name":"BedMotionOn","server":"2993e8b4.fc1e78","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bedroom_detector","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":40,"wires":[[]]},{"id":"5399bb16.d25214","type":"debug","z":"e0867982.9fe578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":400,"wires":[]}]
